/* @tailwind base;
@tailwind components;
@tailwind utilities; */
.home-post{
  width:100wv;
  background-image: url('https://media.istockphoto.com/id/1972964728/photo/3d-like-instagram-icons.webp?b=1&s=170667a&w=0&k=20&c=tofWiZ9UuN4mliJna2dVYypJEcOis19yEqAMSokwwOQ=');
  background-repeat: no-repeat;
  background-size: cover;
}
.loginPage{
  width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  margin-top: 50px;

}
.loginPage button{
  width: 150px;
  padding: 10px;
  margin: auto;
}
.loginPage input{
  padding: 10px;
}
form {
  width: 400px !important;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
  /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */

}
.formBox{
  height:600px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  width: 500px;
  position: absolute;
  left: 500px;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  gap: 10px;
  background-color: white;
  /* justify-content: center; */
  padding: 20px;
  /* border-radius: 30px; */
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;}
.formBox img{
  /* width: 50%;
  height:50%; */
  height:200px;
  width:150px;
}
.btn-close{
  position: absolute;
  
  right: 10px;
  top: 10px;
}
/* .blg:hover{
  background-color:rgba(255, 0, 0, 0.637);
  color: white;
  font-weight:30px;
} */
.blg{
  border-radius: 50px;
  width:200px;
  font-size: 15px;
  box-shadow:2px 2px 2px red;
  height:50px;
  margin: auto;
}
.create-blog{
  border-radius: 50px;
  background-color:white;
  width:200px;
  font-size: 15px;
  box-shadow:3px 3px 3px skyblue;
  height:50px;
  margin: auto;
  color:blue;
  font-weight: bold;
  font-style:unset;
}
/* .create-blog:hover{
  width: 10em;
  height: 2em;
  border-radius: 15px;
  padding-bottom: 7px;
} */
.deleteIcon{
  position: absolute;
  bottom: 4vw;
  right:10px;
  font-size: 25px;
color: red;

}
.edit-form{
   position: fixed;
   top: 120px;
   left: 450px;
   background-color: slategrey;
}
.btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
}
.btn-close:hover{
  color:skyblue;
  background-color:red;
}
.drp{

  padding-right:250px;
  font-weight:bold;
}
.card{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
/* .card:hover{
  width: 20px;
  color:black;
background-color:aqua;
} */
.upload-img:hover{
  color:lightgreen;
  font-size:20px;
}
.deleteIcon:hover{
  /* margin-top: 20px; */

  font-size: 27px;
}
.singlepage:hover{
  cursor: pointer;
font-size:10px;

}
 
.updatefrm input{
border-radius: 20px;
background-color:white;

height:50px;
}
.updiv{
  background-image: url('https://cdn.pixabay.com/photo/2016/01/31/16/34/blogging-1171731_640.jpg');
}

  .navbar {
    background-image: linear-gradient(to right,rgba(128, 0, 128, 0.808) ,rgba(0, 0, 255, 0.829),rgba(255, 0, 0, 0.651));
  }
